/*************/
/*   < 600   */
/*************/
@media screen and (max-width:479px)
    .db1
        width: 100%!important
        display: block!important
        padding: 0px
    .left
        padding-bottom: 24px !important
        border-bottom: 2px solid #b1a99c !important
        border-right: 0px solid #ffffff !important
    .pari0
        padding-right: 0!important
    .pale0
        padding-left: 0!important
